---
version: "2"
networks:
  default:
    external: true
    name: bridge
services:
  nzbget:
    image: lscr.io/linuxserver/nzbget:latest
    container_name: nzbget
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=022
      - TZ=Europe/Dublin
    volumes:
      - /srv/dev-disk-by-uuid-d7e92748-af1e-446c-8faa-e23d3ac6f7b8/Configs/Nzbget:/config
      - /srv/dev-disk-by-uuid-d7e92748-af1e-446c-8faa-e23d3ac6f7b8/downloads:/downloads
    ports:
      - 6789:6789
    restart: unless-stopped

  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Dublin
    volumes:
      - /srv/dev-disk-by-uuid-d7e92748-af1e-446c-8faa-e23d3ac6f7b8/Configs/Jackett:/config
      - /srv/dev-disk-by-uuid-d7e92748-af1e-446c-8faa-e23d3ac6f7b8/Torrents:/downloads
    ports:
      - 9117:9117
    restart: unless-stopped

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Dublin
      - UMASK=022 #optional
    volumes:
      - /srv/dev-disk-by-uuid-d7e92748-af1e-446c-8faa-e23d3ac6f7b8/Configs/Radarr:/config
      - /srv/dev-disk-by-uuid-d7e92748-af1e-446c-8faa-e23d3ac6f7b8/Movies:/movies
      - /srv/dev-disk-by-uuid-d7e92748-af1e-446c-8faa-e23d3ac6f7b8/downloads:/downloads
    ports:
      - 7878:7878
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Dublin
      - UMASK=022
    volumes:
      - /srv/dev-disk-by-uuid-d7e92748-af1e-446c-8faa-e23d3ac6f7b8/Configs/Sonarr:/config
      - /srv/dev-disk-by-uuid-d7e92748-af1e-446c-8faa-e23d3ac6f7b8/TV:/tv
      - /srv/dev-disk-by-uuid-d7e92748-af1e-446c-8faa-e23d3ac6f7b8/downloads:/downloads
    ports:
      - 8989:8989
    restart: unless-stopped
