services:
  nzbget:
    image: lscr.io/linuxserver/nzbget:latest
    container_name: nzbget
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=022
      - TZ=Europe/Dublin
    volumes:
      - /srv/dev-disk-by-uuid-d7e92748-af1e-446c-8faa-e23d3ac6f7b8/Configs/Nzbget:/config
      - /srv/dev-disk-by-uuid-d7e92748-af1e-446c-8faa-e23d3ac6f7b8/downloads:/downloads
    ports:
      - 6789:6789
    restart: unless-stopped

  mediaelch:
    image: fhriley/mediaelch:latest
    container_name: mediaelch
    environment:
      - MEDIAELCH_UID=1000
      - MEDIAELCH_GID=1000
      - TZ=Europe/Dublin
    volumes:
      - /srv/dev-disk-by-uuid-d7e92748-af1e-446c-8faa-e23d3ac6f7b8/Configs/Mediaelch:/data
      - /srv/dev-disk-by-uuid-d7e92748-af1e-446c-8faa-e23d3ac6f7b8/Movies:/media/movies
      - /srv/dev-disk-by-uuid-d7e92748-af1e-446c-8faa-e23d3ac6f7b8/TV:/media/tv
    ports:
      - 9876:8000/tcp
    restart: unless-stopped

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Dublin
      - UMASK=022 #optional
    volumes:
      - /srv/dev-disk-by-uuid-d7e92748-af1e-446c-8faa-e23d3ac6f7b8/Configs/Radarr:/config
      - /srv/dev-disk-by-uuid-d7e92748-af1e-446c-8faa-e23d3ac6f7b8/Movies:/movies
      - /srv/dev-disk-by-uuid-d7e92748-af1e-446c-8faa-e23d3ac6f7b8/downloads:/downloads
    ports:
      - 7878:7878
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Dublin
      - UMASK=022
    volumes:
      - /srv/dev-disk-by-uuid-d7e92748-af1e-446c-8faa-e23d3ac6f7b8/Configs/Sonarr:/config
      - /srv/dev-disk-by-uuid-d7e92748-af1e-446c-8faa-e23d3ac6f7b8/TV:/tv
      - /srv/dev-disk-by-uuid-d7e92748-af1e-446c-8faa-e23d3ac6f7b8/downloads:/downloads
    ports:
      - 8989:8989
    restart: unless-stopped

  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - JELLYFIN_PublishedServerUrl=http://192.168.0.5 #optional
    volumes:
      - /srv/dev-disk-by-uuid-d7e92748-af1e-446c-8faa-e23d3ac6f7b8/Configs/Jellyfin:/config
      - /srv/dev-disk-by-uuid-d7e92748-af1e-446c-8faa-e23d3ac6f7b8/TV:/data/tvshows
      - /srv/dev-disk-by-uuid-d7e92748-af1e-446c-8faa-e23d3ac6f7b8/Movies:/data/movies
    ports:
      - 8096:8096
      - 8920:8920 #optional
      - 7359:7359/udp #optional
      - 1900:1900/udp #optional
    restart: unless-stopped
